body {
    background-image: url("../images/backgrounds/terrazzo.png");
    font-family: 'Raleway', sans-serif;

}

ul,
li {
    list-style: none;
}

#name {
    font-size: 80px;
    color: white;
}

#my-title {
    font-size: 80px;
    color: white;
}

#sophie {
    border-radius: 50%;
}

.header-content {
    text-align: center;
    font-family: 'Pacifico', cursive;
    border: 1px solid white;
    margin: 265px;
    padding: 20px;

}

#page3 {
    margin: 30px;
    padding: 20px;
    border: 1px solid gray;
    text-align: center;
}

address {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}